/*Main Header white (ba)*/

body {
  font-family: 'Poppins', sans-serif;
}

/*------- Home header f5f5f5 -----------*/

.div-background-home {
  background-image: url(/assets/images/home-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.div-background-school {
  background-image: url(/assets/images/school.png);
}

.lineWhite {
  width: 7%;
  margin-left: 4%;
  background-color: #fff;
  height: 3px;
}

.mt-custom-home {
  margin-top: 20%;
}

@media only screen and (max-width: 992px) {
  .lineWhite {
    display: none;
  }
  .mt-custom-home {
    margin-top: 19%;
  }
}

@media only screen and (max-width: 330px) {
  .div-background-home {
    height: auto;
  }
}

/*---------END HOME header ------------*/

/*----------- Profile header ----------------*/

.div-background-profile {
  background-color: #f5f5f5;
}

.heading-custom {
  font-size: 350%;
}

.mt-custom-profile {
  margin-top: 10% !important;
}

.emoji-header {
  width: 60%;
  height: auto;
}

.component-emoji {
  width: 85%;
  height: auto;
}

.border-right-emoji {
  border-right: 1.5px solid #a7a4a4;
}

.component-text {
  font-size: 1.2vw;
}

@media only screen and (max-width: 991px) {
  .heading-custom {
    font-size: 10vw;
  }
  .emoji-header {
    width: 50%;
    height: auto;
  }
  .mt-custom-profile {
    margin-top: 0% !important;
  }
}

@media only screen and (max-width: 769px) {
  .component-emoji {
    width: 50% !important;
    height: auto;
  }
  .component-text {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 577px) {
  .emoji-header {
    width: 100%;
    height: auto;
  }
  .component-emoji {
    width: 140% !important;
    height: auto;
  }
}

/*----------- END Profile header ----------------*/

/*--------------------------- WHITE-BLUE NAVBAR STYLE ----------------------------*/

.header-background {
  background-color: rgb(190, 190, 190);
}

#nav-toggle-button {
  background-color: white;
}

/*----------------- MENU Links--------------------*/

/*transaprent navbar*/

.navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(0, 0, 0, 0.00)), color-stop( 100%, rgba(0, 0, 0, 0.00)));
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.linkactive-WhiteBlue {
  color: #0067f4;
}

.linkmenu-WhiteBlue {
  color: white !important;
}

/*effects for active link*/

.linkactive-WhiteBlue::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #0067f4;
  margin-top: 5px;
}

/*effects for other menu items*/

.linkmenu-WhiteBlue::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background-color: #0067f4;
  transition: width .3s;
  margin-top: 5px;
}

/*in hover set color of anchor to blue*/

.linkmenu-WhiteBlue:hover {
  color: #0067f4 !important;
}

/*show line with transition on bottom of link(hover action)*/

.linkmenu-WhiteBlue:hover::after {
  width: 100%;
  transition: width .3s;
}

/*----------------- END MENU Links--------------------*/

/* M icon */

.m-style {
  width: 30px;
  height: auto;
}

/*Instead of Register button show register link*/

.register-link {
  display: none;
}

.login-line-WhiteBlue {
  color: white;
}

/*Instead of M logo >993px show story like nav-link*/

.stories-title {
  display: none;
}

/* --------------- Tooltip white ----------------------*/

.tooltip-inner {
  background-color: #fff !important;
  color: #000;
  font-weight: bold;
  padding: 8px 8px;
}

/* ----------- END Tooltip ----------------------*/

/*change some things to make responsive header*/

@media only screen and (max-width: 1199px) {
  /* --- MENU LINES (between login and language, & between menu items and M icon) >1199px  ----*/
  .login-line-WhiteBlue {
    padding-right: 4px;
  }
}

/*changes in small size - medium*/

@media only screen and (max-width: 771px) {
  /*----- MENU SIZE >771px  -------*/
  .linkmenu-WhiteBlue:hover::after {
    width: 0%;
    background-color: #ccc;
    transition: width .3s;
  }
  .linkactive-WhiteBlue::after {
    width: 0%;
  }
  .login-line-WhiteBlue {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  /*----- MENU SIZE >771px  -------*/
  .linkmenu-WhiteBlue:hover::after {
    width: 0%;
    background-color: #ccc;
    transition: width .3s;
  }
  .linkactive-WhiteBlue::after {
    width: 0%;
  }
  .login-line-WhiteBlue {
    display: none;
  }
  .register-button {
    display: none;
  }
  .register-link {
    display: block;
  }
  .m-stories {
    display: none;
  }
  .stories-title {
    display: block;
    cursor: pointer;
  }
}

.header-v1 {
  height: 700px;
}

/*-------------------------- WHITE-BLUE NAVBAR STYLE END -----------------------------------*/

/* end Main header*/

/* Footer Start* (rk)*/

.footer-img {
  background-image: url(/assets/images/school.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.customFontSchool {
  font-weight: 1000;
  font-size: 320%;
}

.mtcustom-footer {
  margin-top: 10%;
}

.ImgArrow-custom {
  max-width: 24%;
  height: auto;
}

.readMore-Part {
  clear: both;
  margin-top: 26%;
}

@media only screen and (max-width:1198px) {
  .ImgArrow-custom {
    max-width: 30%;
    height: auto;
  }
}

@media only screen and (max-width:991.5px) {
  .ImgArrow-custom {
    max-width: 80%;
    height: auto;
    margin-top: 16% !important;
  }
}

@media only screen and (max-width:900px) {
  .ImgArrow-custom {
    max-width: 90%;
    height: auto;
    margin-top: 15% !important;
  }
}

@media only screen and (max-width:767.5px) {
  .ImgArrow-custom {
    max-width: 50%;
    height: auto;
    margin-top: 5% !important;
  }
  .mtcustom-footer {
    margin-top: 6%;
  }
  .readMore-Part {
    margin-top: 28%;
    font-size: 150%;
  }
  .customFontSchool {
    font-weight: 1000;
    font-size: 200%;
  }
  .date-custom {
    display: none;
  }
}

/* Footer End* (rk)*/

/*search for schools and subject (eh)*/

/*Style of three first paragraphs*/

#paragraph1 {
  color: #0067f4;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

#paragraph2, #paragraph3 {
  color: #999798;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

/*Style of the second content*/

.component {
  color: #999798;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.content2 {
  color: #999798;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  padding: 20px;
}

div#t2 {
  width: 400px;
}

.main-container .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #0067f4;
  border-width: 2px;
  outline: 1px;
  box-shadow: none;
}

/*end search for schools and subject*/

/* about page (rk)*/

.colorBlue {
  color: #0067f4;
  font-weight: bold;
}

.bColorBlue {
  background-color: #0067f4;
  font-weight: bold;
}

.customFont {
  font-weight: 1000;
  font-weight: bold;
  font-size: 150%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 0%;
}

.customFontAbout {
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 40px;
  font-weight: 740;
  font-size: 270%;
}

.imgSch {
  width: 610px;
  height: 400px;
}

.imgSch2 {
  width: 60px;
  height: 60px;
}

.imgSch1 {
  background: url('/assets/images/teacher-about-blue.png');
  background-size: 60px 60px;
}

.imgSch3 {
  width: 45px;
  height: 45px;
  padding: 4px;
}

.customFontCards {
  font-weight: 740;
}

.customFontCards2 {
  color: #0067f4;
  font-weight: bold;
}

.box {
  width: 300px;
  border: 0px solid white;
  padding: 10px;
  margin: 0px;
}

.boxShadow {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.hovered-box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.hovered-box:hover .customFontCards {
  color: #0067f4;
  font-weight: bold;
}

.hovered-box {
  padding: 20px;
}

.box-image {
  max-width: 60px;
}

/* end about page*/

/* testimonials* (ev) */

.colorBlue {
  color: #0067f4;
  font-weight: bold;
}

.customFont {
  /*font-weight: 1000;*/
  font-weight: bold;
  font-size: 130%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.box {
  width: 270px;
  border: 0px solid white;
  padding: 20px;
  margin: 0px;
}

.imgS {
  width: 60%;
  height: 5%;
  padding-top: 15%;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  background-image: url('box-about.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/*end tesimonials

/*login form start*/

.main-container {
  background-color: #f1f0f0f3;
}

.main-container h1 {
  color: #0067f4;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 280%;
}

.main-container p {
  color: #999798;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120%;
}

.form-group label {
  font-weight: bold;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 15px;
  margin-bottom: 38px;
  margin-top: 18px;
}

.main-container hr {
  text-align: center;
  width: 81%;
  margin-bottom: 35px;
}

/*end login form*/

/*best schools start (rs)*/

.badge-custom {
  border-radius: 50%;
  background-color: #0067f4;
}

.BestSchoolBackground {
  background-image: url(/assets/images/bestschool.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.customFont {
  text-align: left;
  /*font-weight: bold;*/
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 40px;
  color: white;
}

@media only screen and (min-width:1603px) {
  .mt-BestSchool {
    margin-top: 50% !important;
  }
}

@media only screen and (max-width: 1086px) {
  .mt-BestSchool {
    margin-top: 140% !important;
  }
}

@media only screen and (min-width:1998px) {
  .mt-BestSchool {
    margin-top: 40% !important;
  }
}

@media only screen and (max-width: 991.3px) {
  .BestSchoolBackground {
    display: none;
  }
}

#example tr:nth-child(even) {
  background-color: #f2f2f2;
}

#example .selected-row td {
  color: #0067f4 !important;
  border-bottom: 1px solid #0067f4 !important;
  border-top: 1px solid #0067f4 !important;
  vertical-align: middle;
  padding-top: 3px;
  padding-bottom: 3px;
}

#example tbody tr {
  color: #999798;
}

#example thead tr th {
  color: rgb(150, 150, 150);
}

/*end best schools*/

/*all fields start*/

.forum:hover {
  background-color: #0067f4 !important;
  color: white;
}

.custom-box-eye {
  border-radius: 15%;
  border-width: 2px !important;
}

.hover-effect:hover {
  background-color: #0067f4 !important;
  color: white !important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
}

/*end all fields*/

/*top fields*/

.badge-custom {
  border-radius: 50%;
  background-color: #0067f4;
}

.BestFieldsBackground {
  background-image: url(/assets/images/best-fields.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.customFont {
  text-align: left;
  /*font-weight: bold;*/
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 40px;
  color: white;
}

.v1 {
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 250px;
}

@media only screen and (min-width:1603px) {
  .mt-BestSchool {
    margin-top: 50% !important;
  }
}

@media only screen and (max-width: 1086px) {
  .mt-BestSchool {
    margin-top: 140% !important;
  }
}

@media only screen and (min-width:1998px) {
  .mt-BestSchool {
    margin-top: 40% !important;
  }
}

@media only screen and (max-width: 991.3px) {
  .BestSchoolBackground {
    display: none;
  }
}

#example tr:nth-child(even) {
  background-color: #f2f2f2;
}

#example .selected-row td {
  color: #0067f4 !important;
  border-bottom: 1px solid #0067f4 !important;
  border-top: 1px solid #0067f4 !important;
  vertical-align: middle;
  padding-top: 3px;
  padding-bottom: 3px;
}

#example tbody tr {
  color: #999798;
}

#example thead tr th {
  color: rgb(150, 150, 150);
}

.BestSchoolsBackground {
  background-image: url(/assets/images/bestschool.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* end top fields*/

/* ask-suggest*/

.color-gray {
  color: #a4a4a4 !important;
}

.link-style-logout {
  text-decoration: none !important;
}

.img-arrow-left-custom {
  width: 24px;
  height: auto;
  cursor: pointer
}

.ask-input {
  width: 100%;
  padding: 8px 13px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin: 0;
}

/*------Radio button custom ------*/

.radio-button-custom {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.radio-button-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.radio-button-custom:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.radio-button-custom input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.radio-button-custom input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.radio-button-custom .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.textarea-ask-custom {
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  resize: none;
}

/*end ask suggest*/

/*start slider task*/

[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 12px 0;
  width: 100%
}

[type=range]::-moz-focus-outer {
  border: 0
}

[type=range]:focus {
  outline: 0
}

[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border-radius: 5px;
  border: 0px solid #d3d3d3;
}

[type=range]:focus::-ms-fill-lower {
  background: #0067f4;
}

[type=range]:focus::-ms-fill-upper {
  background: #d3d3d3;
}

[type=range]::-webkit-slider-runnable-track {
  cursor: default;
  height: 8px;
  transition: all .2s ease;
  width: 100%;
  background: #d3d3d3;
  border: 0px solid #d3d3d3;
  border-radius: 5px
}

[type=range]::-webkit-slider-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/bad-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 40px;
  width: 40px;
  -webkit-appearance: none;
  margin-top: -20px;
}

[type=range]::-moz-range-track {
  cursor: default;
  height: 8px;
  transition: all .2s ease;
  width: 100%;
  background: #d3d3d3;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  height: 4px
}

[type="range"]::-moz-range-progress {
  background-color: #0067f4;
  border: 2px solid #0067f4;
  border-radius: 5px;
}

[type=range]::-moz-range-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/bad-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 35px;
  width: 35px;
}

[type=range]::-ms-track {
  cursor: default;
  height: 8px;
  transition: all .2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent
}

[type=range]::-ms-fill-lower {
  background: #0067f4;
  border: 2px solid #0067f4;
  border-radius: 10px
}

[type=range]::-ms-fill-upper {
  background: #d3d3d3;
  border: 2px solid #d3d3d3;
  border-radius: 10px
}

[type=range]::-ms-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/bad-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 30px;
  width: 30px;
  margin-top: 2px;
}

[type=range]:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

[type=range]:disabled::-moz-range-thumb {
  cursor: not-allowed;
}

[type=range]:disabled::-ms-thumb {
  cursor: not-allowed;
}

[type=range]:disabled::-webkit-slider-runnable-track {
  cursor: not-allowed;
}

[type=range]:disabled::-ms-fill-lower {
  cursor: not-allowed;
}

[type=range]:disabled::-ms-fill-upper {
  cursor: not-allowed;
}

.emoji2::-webkit-slider-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/notgood-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 40px;
  width: 40px;
  -webkit-appearance: none;
  margin-top: -20px;
}

.emoji2::-moz-range-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/notgood-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 35px;
  width: 35px;
}

.emoji2::-ms-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/notgood-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 30px;
  width: 30px;
  margin-top: 2px;
}

.emoji3::-webkit-slider-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/neutral-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 40px;
  width: 40px;
  -webkit-appearance: none;
  margin-top: -20px;
}

.emoji3::-moz-range-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/neutral-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 35px;
  width: 35px;
}

.emoji3::-ms-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/neutral-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 30px;
  width: 30px;
  margin-top: 2px;
}

.emoji4::-webkit-slider-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/good-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 40px;
  width: 40px;
  -webkit-appearance: none;
  margin-top: -20px;
}

.emoji4::-moz-range-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/good-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 35px;
  width: 35px;
}

.emoji4::-ms-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/good-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 30px;
  width: 30px;
  margin-top: 2px;
}

.emoji5::-webkit-slider-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/verygood-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 40px;
  width: 40px;
  -webkit-appearance: none;
  margin-top: -20px;
}

.emoji5::-moz-range-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/verygood-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 35px;
  width: 35px;
}

.emoji5::-ms-thumb {
  border: 3px solid #0067f4;
  border-radius: 50%;
  background: #fff url('/assets/images/verygood-blue.png')no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: default;
  height: 30px;
  width: 30px;
  margin-top: 2px;
}

.plus, .minus {
  font-size: 150%;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*end slider task*/

/*start subject page*/
.colorBlue
  {
    color:#0067f4;
    font-weight: bold;
  }
  
  .customFont
  {
    font-weight: 1000;
    font-weight: bold;
    font-size:  130%;
    padding-right: 0%;
  }
 
  .table-emoji
  {  
      width: 40px;
      height: 40px;
      
  }
  
table th:first-child{
  border-radius:10px 0 0 10px;
  padding-left:0%;
}

table th:last-child{
  border-radius:0 10px 10px 0;
}

/*end subject page*/

/* typography*/
.subtitle{
  color:#0067f4;
  font-size:30px;
  font-weight:bold;
}
/*endtypography*/

/* Ask-suggest*/
#kolona{
  border-radius: 7px;
  box-shadow: 5px 5px 5px 5px #80808033;
  margin-top: 50px;
}
/* End Ask-suggest */