/*Set defaul font Poppins*/
body
  {
    font-family: 'Poppins', sans-serif;
  }


/*margin top custom for Text Part Header*/
.mt-custom-Landing
  {
    padding-top: 10%;

  }

/*set image in header like background image*/
.div-backgroundLanding
  {
     /*background-image: url(https://opendatakosovo.github.io/eduperformance-front/landing_page/images/landing.jpg);*/
     background-image: url(images/landing.jpg);
    background-repeat:no-repeat; 
    background-size:cover;
    height:100%;
  }


#city{
  background-color: rgba(255,255,255,0);
  border:1px solid white;
  border-radius: 4px;
  color: white;
  font-family: 'Poppins', sans-serif !important;
  padding: 10px 19px;
  font-size: 14px;
  outline: none;
}
#city option{
  color:black;
}
#city option:hover{
  color:white;
}
.landing-font{
   font-size: 400% ;
   font-weight: extra bold;
   text-shadow: 0 0 40px rgba(0,0,0, 0.6);
   

}
 
   .footer{ 
      display: table-row;
      vertical-align: bottom;
      padding-top: 10%;
      padding-bottom: 2%;
   }  

.colorBlue
  {
    color:#0067f4;
    font-weight: bold;
  }


@media only screen and (max-width: 992px) {
 .landing-font{
  font-size:380% !important;
  }
}

@media only screen and (max-width: 771px) {
  .landing-font{
  font-size:300% !important;
  } 
}

@media only screen and (max-width: 460px) {
  .landing-font{
  font-size:250% !important;
  } 
}

@media only screen and (max-width: 300px){
  .landing-font
  {
    font-size:20px !important;
  }
}


