/*Set defaul font Poppins*/
body
  {
    font-family: 'Poppins', sans-serif;
  }


/*margin top custom for Text Part Header*/
.mt-custom-Landing
  {
    padding-top: 10%;

  }

/*set image in header like background image*/
.div-backgroundLanding
  {
     background-image: url(https://opendatakosovo.github.io/eduperformance-front/landing_page/images/landing.jpg);
    background-repeat:no-repeat; 
    background-size:cover;
    height:100vh;
  }


#city{
  background-color: rgba(255,255,255,0);
  border:3px solid white;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
  padding: 10px 15px;
  font-size: 14px;

}
#city option{
  color:black;
}
#city option:hover{
  color:white;
}
.landing-font{
   font-size: 500% ;
   font-weight: bold;
   text-shadow: 0 0 40px rgba(0,0,0, 0.6);
   margin-bottom: 18% !important; 

}
 
.colorBlue
  {
    color:#0067f4;
    font-weight: bold;
  }


@media only screen and (max-width: 992px) {

 .landing-font{
  font-size:380% !important;
  }
  
}

/*changes in small size - medium*/
@media only screen and (max-width: 771px) {

  
  .landing-font{
  font-size:340% !important;
  }

  
}

@media only screen and (max-width: 451px) {

  .landing-font
  {
    font-size:200% !important;
  }
}

@media only screen and (max-width: 300px){
  .landing-font
  {
    font-size:20px !important;
  }
}


